<form asp-action="Index">
    <label>Nhập số lượng</label>
    <input type="number" name="soluong">
    <label>Nhập đơn giá</label>
    <input type="number" name="dongia">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
<h1>Tổng hóa đơn của bạn là: @ViewBag.hoadon</h1>