<form asp-action="Index">
    <label>Nhập điểm A</label>
    <input type="float" name="Diema">
    <label>Nhập điểm B</label>
    <input type="float" name="Diemb">
    <label>Nhập điểm C</label>
    <input type="float" name="Diemc">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
<h1>điểm của bạn là: @ViewBag.Dmh</h1>