<form asp-action="Index">
    <label>Nhập Chiều cao</label>
    <input type="number" name="chieucao">
    <label>Nhập Cân nặng:</label>
    <input type="number" name="cannang">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
<h1>chỉ số BMI của bạn: @ViewBag.BMI</h1>
<h1>kết quả chuẩn đoán: @ViewBag.Message</h1>