@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label>Your name:</label>
    <input type="text" name="FullName">
    <label>Her name:</label>
    <input type="text" name="Address">
    <input type="submit" value="Enter">
</form>

<h1>@ViewBag.Message</h1>