<h1>Dữ liêụ Controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text" name="PersonID">
    <label>Nhập Họ Tên:</label>
    <input type="text" name="FullName">
    <label>Nhập Địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
